<div class="chat__header">
  <img src="chatbot.png" height="36" />
  <span class="chat__title">Let's Talk</span>
  <div style="flex: 1"></div>
  <button mat-icon-button (click)="hideChat()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="chat__messages">
  <div class="message message--result">
    Hello, you can ask questions regarding Ashish Gurjar.
  </div>
  <div class="message message--command">Hello</div>
  <div class="message message--result">Hello, how may i help you ?</div>
</div>
<div class="chat__input">
  <textarea placeholder="Type ..." #input></textarea>
  <button mat-mini-fab (click)="sendCommand(input)">
    <mat-icon>send</mat-icon>
  </button>
</div>
