<header class="max-width">
  <nav>
    <a routerLink="/" class="brand">Ashish Gurjar</a>
    <div>
      <a mat-button routerLink="/">
        <mat-icon>info</mat-icon>
        About Me
      </a>
      <a mat-button routerLink="/"><mat-icon>code</mat-icon>Services</a>
      <a mat-button routerLink="/"><mat-icon>article</mat-icon>Portfolio</a>
      <a mat-button routerLink="/"><mat-icon>article</mat-icon>Blogs</a>
    </div>
    <a mat-flat-button routerLink="/">Let's Talk</a>
  </nav>
  <div class="banner max-width">
    <div>
      <h3>Hello there, I'm</h3>
      <h1>{{ title }}&nbsp;</h1>
      <p>
        Welcome to my portfolio of captivating digital experiences. Explore my
        work and lets create something extraordinary together.
      </p>
      <br />
      <div>
        <button mat-flat-button><mat-icon>how_to_reg</mat-icon> Hire Me</button>
        &nbsp;&nbsp;
        <button mat-stroked-button>
          <mat-icon>download</mat-icon>
          RESUME
        </button>
      </div>
    </div>
    <div></div>
  </div>
</header>
<div class="about max-width">
  <h1>About Me</h1>
  <p>
    Technical Lead with 6+ years of experience in architecting and maintaining
    scalable, high-performance systems using JavaScript/TypeScript frameworks
    like Node.js, Deno, and Angular. Adept at microservices architecture,
    backend development, and database management (PostgreSQL, MongoDB).
    Proficient in leading teams, gathering requirements, and delivering
    successful deployments using AWS and Kubernetes. Enthusiastic about learning
    new technologies and improving system efficiency.
  </p>
  <br />
  <div>
    <a routerLink="/" mat-fab> <mat-icon svgIcon="facebook"></mat-icon> </a
    >&nbsp;&nbsp;
    <a routerLink="/" mat-fab> <mat-icon svgIcon="twitter"></mat-icon> </a
    >&nbsp;&nbsp;
    <a routerLink="/" mat-fab>
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
  </div>
</div>
