header {
  display: block;
  background-color: #e0e0ff;
}

nav {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  text-decoration: none;
  font-size: 24px;
  color: #005cbb;
  font-weight: 500;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  & > div {
    flex: 1;
    max-width: 50%;
    min-height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.about {
  background-color: #34495e;
  color: white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.about__wrapper {
  display: flex;
}
.about_exp {
  text-align: left;
  font-size: 20px;
  margin-right: 48px;
}

[mat-fab] mat-icon {
  height: 36px;
  width: 36px;
}
.social-media a {
  margin: 12px;
}
.skills__container {
  background-color: #f0db4f;
  padding-bottom: 24px;
  padding-top: 24px;
}
.skills__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .skills__main {
    display: block;
    text-align: right;
    line-height: 248px;
    height: 220px;
    width: 220px;
    border-radius: 9px;
    font-size: 102px;
    padding: 24px;
    font-weight: 500;
    box-sizing: border-box;
    margin-right: 48px;
    margin-top: 24px;
  }
  ul {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 12px;
      text-align: center;
      width: 132px;
    }
  }
}
.experiences__container {
  background-color: #fff;
  padding-bottom: 24px;
  padding-top: 24px;
}
.experiences__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.experiences {
  flex: 1;
  display: block;
}
