@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}

dialog {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition-behavior: allow-discrete;
}
@starting-style {
  dialog[open] {
    transform: translateY(300%);
    opacity: 0; /* Dialog starts transparent when it becomes open */
  }
  dialog::backdrop {
    opacity: 0;
  }
}
