@import 'tailwindcss';

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}

dialog {
  transition: top 0.2s ease, opacity 0.2s ease;
  transition-behavior: allow-discrete;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

dialog::backdrop {
  transition: opacity 0.2s ease;
}

@starting-style {
  dialog[open] {
    top: 110%;
    opacity: 0;
  }

  dialog::backdrop {
    opacity: 0;
  }
}